<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
	<div id="app">
		<h1>shop</h1>
		<p v-if="login_flag">
			<router-link to="/login">login</router-link>
		</p>
		<p v-if="!login_flag">
			<button v-on:click="logout">logout</button>
		</p>
		<router-view></router-view>
	</div>
	<script src="vue.js"></script>
</body>
</html>